<div class="row">

  <div class="col-md-1">
    <%= previous_course_page_link(@courses.previous_page) %>
  </div>


  <div class="col-md-5">
    <%= paginate_course_link_to @courses.course(1) %>
  </div>

  <div class="col-md-5">
    <%= paginate_course_link_to @courses.course(2) %>
  </div>

  <div class="col-md-1">
    <%= next_course_page_link(@courses.next_page) %>
  </div>
</div>